@import "tailwindcss";

@theme {
  --color-picasso-blue: #0f4c81;
  --color-picasso-lightblue: #5386b4;
  --color-picasso-rose: #d68c89;
  --color-picasso-terracotta: #c06c5b;
  --color-picasso-ochre: #d9a05b;
  --color-picasso-sand: #f4f1ea;
  --color-picasso-dark: #2b2b2b;
}

body {
  @apply bg-picasso-sand text-picasso-dark;
  background-image: radial-gradient(var(--color-picasso-ochre) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: -19px -19px;
  background-color: var(--color-picasso-sand);
}
